.section-enter {
  opacity: 0;
}
.section-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.section-exit {
  opacity: 1;
}
.section-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}
