.main-banner .swiper-wrapper {
  .swiper-slide {
    min-height: 400px;
    .lazyload-wrapper {
      .swiper-lazy-place-holder {
        height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          height: 150px;
          rect {
            fill: white;
          }
        }
      }
      .smooth-image.image-hidden {
        width: 1000px;
        height: 350px;
        background-color: white;
      }
      .smooth-image.image-visible {
        border: 1px solid white;
        padding: 1px;
      }
    }
  }
}
